# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
